{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <main class="flex-grow-1">
        <div class="container-lg mt-3">
            <h1>Task details</h1>

            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <h2>{{ task.name }}</h2>
                </div>
                <div class="card-body bg-light">
                    <p>{{ task.description }}</p>
                    <hr>
                    <div class="container">
                        <div class="row p-1">
                            <div class="col">Author</div>
                            <div class="col">{{ task.creator }}</div>
                        </div>

                        <div class="row p-1">
                            <div class="col">Performer</div>
                            <div class="col">{{ task.performer }}</div>
                        </div>

                        <div class="row p-1">
                            <div class="col">Status</div>
                            <div class="col">{{ task.status }}</div>
                        </div>

                        <div class="row p-1">
                            <div class="col">Creation date</div>
                            <div class="col">{{ task.created_at }}</div>
                        </div>

                        <div class="row p-1">
                            <h6>Tags</h6>
                            <div class="col">
                                <ul>
                                    {% for tag in task.tags.all %}
                                        <li>{{ tag.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="row p-1">
                            <a href="{% url 'tasks_update' pk=task.id %}">{% trans "Change" %}</a>
                            <br>
                            <a href="{% url 'tasks_delete' pk=task.id %}">{% trans "Delete" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}